body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0px;
    height:100vh;
    gap:50px;
    
}

.title, .footer{
    font-weight:bold;
}

.title{
    display:flex;
    flex:auto;
    align-items:flex-end;
}

.calculator{
    box-shadow: 0 0 10px #888888;
    height:500px;
    width:500px;
    
    display:flex;
    flex-direction: column;
}

.displays{
    
    height:20%;
    display:flex;
    justify-content: flex-end;
    
}

.display{
    align-self:flex-end;
    font-size:50px;
    flex-shrink:0;
}

.buttons{
    flex:1;
    display:flex;
    flex-direction: column;
}

.firstrow, .secondrow, .thirdrow, .fourthrow, .fifthrow{
    display:flex;
}
button{
    font-size:25px;
    border:2px gray;
}

.calculatorandtips{
    display:flex;
    justify-content: flex-start;
    width:100%;
    gap:100px;
}

.tips{
    
    margin-left:200px;
}

ul{
    margin:0;
    padding:0;
}

.command{
    background-color:aliceblue;
}

.numbers{
    background-color: white;
}

.erase{
    background-color: orange;
    font-weight: bolder;
}